.container{
     display: grid;
     text-align: center;
     padding-top: 40px;
     padding-bottom: 40px;
     margin: 10px 70px; 
     background-color: whitesmoke;
     border-radius: 10px;
}


@media screen and  (max-width: 500px){
     .container{
          padding-top: 10px;
          padding-bottom: 20px;
          background-color: whitesmoke;
          border-radius: 10px;
          width: 97%;
          margin: 5px;
     }
}